<img src="contact.jpg">

		<div id="content">
			Have more questions? Let us know! We'll be in touch right away.
		<form method="POST" action="/mailer">
        <input type="text" placeholder = "your email" name="email">
        <textarea name="text" placeholder = "your message"></textarea>
        <input type="submit" name="submit" class = "subm" value="tell us">
		</form>
			
		</div>

