contact us

<form method="POST" action="/mailer">
		your email 
        <input type="text" name="email">
        your message
        <textarea name="text"></textarea>
        <input type="submit" name="submit" value="submit">
</form>