<div id="wrapper">
	<div id="nav">
	</div>

	<div id="body">
		<div id="heading">
			<h1>Heading</h1>
		</div>
		<div id="content">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>


<head>
    <link href="contact.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <script src="radial.js"></script>
</head>

<img src="contact.jpg">

<nav class="circular-menu">

  <div class="circle">
    <a href="/">Home</a>
    <a href="info">Info</a>
    <a href="preorder">Preorder</a>
    <a href="#">Contact</a>

  </div>
  
  <a href="" class="menu-button"></a>

</nav>

<form method="POST" action="/mailer">
		your email 
        <input type="text" name="email">
        your message
        <textarea name="text"></textarea>
        <input type="submit" name="submit" value="submit">
</form>

<script src="radial.js"></script>