

<video width="100%" autoplay="autoplay" loop>
    <source src="info03.mp4" type="video/mp4">
</video>

<div id="content">
	Solid voice communications are crucial to the succes of your small business. But traditional PBX systems can be difficult to administer, and systems hosted off-site can be a lot more expensive than you might like. Our system is a little different. We offer voicemail, speech-to-text and text-to-speech, and fully customizable IVRs and call queues. Set up robocalls or automate SMS interactions. Connect to remote workers' cellphones as though they're office extensions. Or do anything else you can conceive of. It all runs on a box that fits in the palm of your hand. Control it yourself using a simple web interface, or have us manage it. Experience telephony bliss for about two dollars a month. 
</div>
