<!-- just a placeholder image for right now.. -->
<img src="rp_01.jpg">

<div id="content">
	Experience telephony bliss for about two dollars a month. If you're ready to try our new unit as soon as we're ready to ship, you can save a spot at the front of the line.

	<form method="POST" action="/mailer">
        <input type="text" placeholder = "your email" name="email">
        <input type="submit" name="submit" class = "subm" value="save my spot!">
	</form>
</div>